<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    <div class="alert alert-danger" role="alert">
      {{ messages[0] }}
    </div>
    {%endif%}
    {% endwith %}
    <div>
      <h4>users</h4>
      {% for user in users%}
        <p>{{user.name}} - {{user.email}} - {{user.role}}</p>
        <a href="/adminaccess/delete/{{user.id}}"><button>Delete</button></a>
        <div>
          <form action="/adminaccess/edit/user/{{user.id}}" class="form-container" method="POST">
            <select name="selection">
              <option value="SL">Select Role</option>
              <option value="Author">Admin</option>
              <option value="Editor">Editor</option>
              <option value="Subscriber">Subscriber</option>
            </select>
            <button class="btn btn-dark">Change</button>
          </form>
        </div>
        <hr>
      {% endfor %}
    </div>

    <div>
      <h4>manage posts</h4>
      {%for post in posts%}
        <a href="/blog/{{post.id}}"><p>{{post.title}} - {{post.access}}</p></a> | <a href="/adminaccess/delete/post/{{post.id}}"> <button>Delete</button></a>
      {%endfor%}
    </div>
  </div>
</body>
</html>