<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog</title>
</head>
<body>
  {% block content %}
  <a href="/">Home</a>|
  <a href="/">About Me</a> |
  {% if not current_user.is_authenticated %}
    <a class="nav-link" href="/login">Login</a>
    <a href="/payment">subscribe</a>
  {%else%}
    {% if current_user.role == 'Author' or current_user.role == "Editor" %}
      <a href="/new">Add article</a> |
    {% elif current_user.role == "Author" %}
      <a href="#">Admin panel</a> |
    {% endif %}
    <a href="/bookmarks">Bookmarks</a> |
    <a href="/{{current_user.name}}">{{current_user.name}}</a> |
    <a href="/logout">Logout</a>
  {%endif%}
  <h1>myblog</h1>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    <div class="alert alert-danger" role="alert">
      {{ messages[0] }}
    </div>
    {%endif%}
    {% endwith %}
    <div class="articles">
      {%for article in articles %}
        <a href="/blog/{{article.id}}">
            <div>
              <img src="{{article.imagelink}}" alt="blog image">
              <h1>{{article.title}}</h1>
              <small>{{article.date}}</small>
              <small>by {{article.author}}</small>
              <p>{{article.subtitle}}</p>
           </div>
        </a>
        <hr>
      {%endfor%}
    </div>
   
  </div>
  {% endblock %}
</body>
</html>