<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog</title>
</head>
<body>
  {% block content %}
  <a href="/payment">subscribe</a>
  <a href="/login">Login</a>
  <h1>myblog</h1>
  <div>
    <div>
      <h1>title</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente facere amet error, quaerat quia asperiores vitae. Ipsam debitis id fuga dolores deleniti, necessitatibus omnis esse quos, atque rerum accusamus eos.</p>
    </div>
    <div>
      <h1>title</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente facere amet error, quaerat quia asperiores vitae.
        Ipsam debitis id fuga dolores deleniti, necessitatibus omnis esse quos, atque rerum accusamus eos.</p>
    </div>
    <div>
      <h1>title</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente facere amet error, quaerat quia asperiores vitae.
        Ipsam debitis id fuga dolores deleniti, necessitatibus omnis esse quos, atque rerum accusamus eos.</p>
    </div>
  </div>
  {% endblock %}
</body>
</html>