{% extends "index.html" %}


{% block title %}
<title>Bookmarks</title>
{% endblock %}

{% block contents %}
  <div class="sub-contents">
    <div>
      <h3> your bookmarks</h3>
    </div>
    <div>
      {% if bookmarks|length > 0%}
        {%for bookmark in bookmarks %}
          <a href="/blog/{{bookmark.blogpost_bookmarks.id}}"><p>{{bookmark.blogpost_bookmarks.title}}</p></a>
          <hr>
        {% endfor %}
      {% else %}
        <p>no saved articles</p>
      {% endif %}
    </div>
  </div>
{%endblock%}