{% extends "index.html" %}


{% block title %}
<title>{{get_user.name}}</title>
{% endblock %}

{% block contents %}
  <div class="sub-contents">
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    <div class="alert alert-danger" role="alert">
      {{ messages[0] }}
    </div>
    {%endif%}
    {% endwith %}
    <div>
      <h1>{{get_user.name}}</h1>
      <p>{{get_user.email}}</p>
    </div>

    <div class="payment">
      <h4>Payment plan</h4>
      <div style="margin-bottom: 1rem;">
        <p>you are currently on {{get_plan}}</p>
        {% if get_plan == "Monthly Subscription"%}
          <a href="/update/subscription/monthly" class="button">Upgrade Subscription</a>
        {% elif get_plan == "Yearly Subscription" %}
          <a href="/update/subscription/yearly" class="button">Downgrade Subscription</a>
        
        {% endif %}
      </div>
      
      {%if get_plan != "Demo Account"%}
        <div>
          <a href="/cancel/subscription" class="button">Cancel subscription</a>
        </div>
      {%endif%}
      <hr>

    </div>
    <div class="activity">
      <h4>your activities</h4>
      <div>
        {% for like in get_likes%}
          <a href="/blog/{{like.blogpost_likes.id}}"><p>you liked {{like.blogpost_likes.title}}</p></a>
        {%endfor%}
      </div>
      <div> 
        {% for comment in get_comments%}
        <a href="/blog/{{comment.blogpost_comments.id}}"><p>you commented on  {{comment.blogpost_comments.title}}</p></a>
        {%endfor%}
      </div>
    </div>
    
  </div>
{%endblock%}