<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div>
      <h1>{{get_user.name}}</h1>
      <p>{{get_user.email}}</p>
    </div>

    <div class="payment">
      <h4>Payment plan</h4>
      <div>
        <p>you are currently on {{get_plan}}</p>
        {% if get_plan == "Monthly Subscription"%}
          <a href="#"><button>Upgrade Subscription</button></a>
        {% else %}
          <a href="#"><button>Downgrade Subscription</button></a>
        {% endif %}
      </div>
      <hr>
      <div>
        <a href="/cancel/subscription"><button>Cancel subscription</button></a>
      </div>

    </div>
    <div class="activity">
      <h4>your activities</h4>
      <div>
        {% for like in get_likes%}
          <a href="/blog/{{like.blogpost_likes.id}}"><p>you liked {{like.blogpost_likes.title}}</p></a>
        {%endfor%}
      </div>
      <div> 
        {% for comment in get_comments%}
        <a href="/blog/{{comment.blogpost_comments.id}}"><p>you commented on  {{comment.blogpost_comments.title}}</p></a>
        {%endfor%}
      </div>
    </div>
    
  </div>
</body>
</html>